body {
	margin: 0 auto;
	font-size: 16px;
}


#getlocation {position: relative; top:0; right: 0;}

 #map-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid black;
}
#map { position:absolute; width:100%; height: 100%; }
