.btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after, .icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


.btn:after {
content: '';
position: absolute;
z-index: -1;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: buttonface;
	box-sizing: border-box;
}

.btn, input.btn, {
	width: 100%;
	padding: 20px;
	text-align: center;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 1em;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #fff;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: hidden;
	border: 3px solid #fff;
	&.btn-location {
		&:disabled {
			color: rgba(14, 131, 205, 0.3);
		}
		&::-webkit-input-placeholder {
		   color: #fff;
		}
		&.search {
			width: 79%;
			color: #fff;
			&:focus {
				background-color: #fff;
				color: #0e83cd;
				&::-webkit-input-placeholder {
				   color: #0e83cd;
				}
			}
		}
		&.searchsubmit {
			width: 19%;
			float: right;
			background-color: #fff;
			color: #0e83cd;
		}
	}
	&.btn-small {
		width: 48%;
		height: 45px;
		padding: 0px;
		&.about {
			float: left;
		}
		&.newsletter {
			float: right;
		}
	}
}
/* Button 1e */

.btn-location:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-location:hover,
.btn-location:active {
	color: #0e83cd;
}

.btn-location:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-location:active:after {
	height: 400%;
	opacity: 1;
	&:disabled {
		background-color: red;
	}
}