// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin: 0 auto;
  font-size: 16px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  z-index: 4;
  color: #fff;
  background: url(../../img/bg2.jpg) no-repeat center center fixed;
}

.btn{
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         0;
  background: transparent;
  color: #F2F2F2;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;

}

#form {z-index: 3;}
form{
  z-index: 2;}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: 99;
  display: none;
}